body {
    font-family: 'Zilla Slab', serif !important;
    margin:0px !important;
}

.color-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.custom-checkbox {
    position: relative;
    align-items: center;
    display: flex;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    user-select: none;
    width: fit-content;
    background-color: #EFFBEF;
    border:1px solid #0D3B66;
    margin: 4px;
    transition:  0.1s ease-in-out;
    cursor:pointer !important;
}

.custom-checkbox:hover {
    background-color: #DEF7DE;
    border: 1px solid #140600;
    box-shadow: 0px 3px #140600;
}

.custom-checkbox:active {
    /* offset y by 1px to make it look like the button is being pushed down */
    border: 1px solid #140600;
    box-shadow: 0px 2px #140600;
    transform: translateY(1px);
}

.custom-checkbox input {
    position: absolute;
    align-items:center;
    opacity: 0;
    height: 100%; 
    width: 100%;  
    margin: 0;
    padding: 0;
    z-index: 2;
}

.checkmark {
    position: relative;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.dot {
    opacity:0.5;
}

#tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 3px;
    border: 1px solid #000;
    pointer-events: none;
}
.checkbox-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

#average-display {
    text-align:left;
    width:160px;
    margin:auto 5px;
}

#plot-and-labels {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    background-color: #FBFEFB;
    border: 1px solid #0D3B66;
    border-radius:3px;
    margin: 5px auto;
    padding: 5px 15px;
    height: 520px; 
}

.body-container {
    width: 85%;
    margin:20px auto;
    max-width: 1100px;
}

.average-display-item {
    padding: 0px 5px;   
}

.label {
    margin-bottom: 0rem !important;
}

.navbar{
    background-color: #FBFEFB; 
    border-bottom: 1px solid #333;
    padding: 5px 35px;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: left;
    flex: 1;
}
.navbar-brand {
    font-family: 'Zilla Slab';
    font-size: 30px;
    color: #212430;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-toggler-icon {
    display:none;
}

.label-indicator {
    display: inline-block;
}

.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    opacity: 0.5;

}
#circle1 {
    background-color: #E4BB25;
    margin-top:-8px;
    transition: 0.1s ease-in-out;
}
#circle1:hover {
    opacity: 0.7;
    margin-top: 0px;
}

#circle1:active {
    opacity: 0.8;
    margin-top: 0px;
}

#circle2 {
    background-color: #6DA861;
    margin-left: -16px; 
    margin-bottom:-8px;
    transition: 0.1s ease-in-out;
}
#circle2:hover {
    opacity: 0.7;
    margin-bottom: 0px;
}
#circle2:active {
    opacity: 0.8;
    margin-top: 0px;
}
.circle-container {
    display: flex; 
    align-items: center; 
}

#slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #EFFBEF;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 3px;
    margin: 15px auto 5px auto;
}

#obs-slider {
    -webkit-appearance: none; 
    width: 30%; 
    height: 20px; 
    background: #D7EAD7; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius:2px;
    outline: 1px solid #2b2b2b;
    overflow: hidden;
}

#obs-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px; 
    /*background-image: url(https://emojiguide.com/wp-content/uploads/platform/google/43730.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;*/
    background-color: #FBFEFB;
    border-radius:10px;
    border:1px solid #333;
    cursor: pointer;
    box-shadow: -407px 0 0 400px #46A3AF;
    transition:  0.1s ease-in-out;
}

#obs-slider::-moz-range-thumb {
    width: 20px; 
    height: 20px; 
    background: #ffffff;
    border: 2px solid black; 
    cursor: pointer; 
}

#obs-slider::-webkit-slider-thumb:hover {

    border-radius:3px;
}
#obs-slider::-webkit-slider-thumb:active {
    box-shadow: -407px 0 0 400px #3A8892;
}

.date-and-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; /* Push children to the top and bottom */
    height: 100%; 
}
#average-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;  /* take full height of parent */
}

#date-display {
    text-align: center;
    border:1px solid #333;
    border-radius:5px;
    width: 100%;
    padding: 10px;
    margin-top:10px;
    background-color: #EFFBEF;
}